.split-screen .right img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.split-screen .right .dummy-links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  text-align: center;
}

.split-screen .right .dummy-links li {
  margin-bottom: 0.5rem;
}

.split-screen .right .dummy-links li a {
  text-decoration: none;
  color: #007acc;
  font-weight: 500;
}
